services:
  - type: web
    name: portfolio-backend
    env: node
    plan: free
    repo: https://github.com/priyabratasahoo780/Portfol_website
    root: backend
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: PORT
        value: 5000
      - key: MONGODB_URI
        sync: false
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASS
        sync: false
